import app
import json
import warnings


def test_hello_world():
  response=app.app.test_client().get('/hello')
  assert response.status_code ==200
  assert response.data == b'hello'

def test_goodbye():
  response=app.app.test_client().get('/goodbye')
  asser response.status_code == 404

def test_name():
  response=app.app.test_client().get('/name')
  assert response.status_code ==200
  assert response.data == b'Rads'

def test_age():
  response=app.app.test_client().get('/age')
  assert response.status_code ==200
  assert response.text == '25'
